.blurb
  .bg
    .img
      = image_tag(blurb.image_url)
  .content
    .text
      %span
        = blurb.text
      .timeago{'data-livestamp' => blurb.time.to_i}
    .by
      = image_tag(avatar_url(blurb.user), class: 'avatar')
      %span= t('blurb.who', user: blurb.username)
