.row
  #blurb-page
    = render 'blurbs/image_with_text', blurb: @blurb
    .action-bar
      %span
        %strong Share:
        %span &nbsp;
      = render_shareable :url => blurb_url(@blurb), :buttons=> ['facebook', 'twitter'], :text => "Mark my words: #{@blurb.text}"
      .copy-link.hidden-xs
        .input-group
          %input.form-control{type: "text", value: blurb_url(@blurb)}
          %span.input-group-btn
            %button.btn.btn-default#copy-link{type: "button"}
              %i.fa.fa-link
              %span Copy Link
    .rundown

:javascript
  copyUrl('#copy-link', #{blurb_url(@blurb).to_json});
