.author_toolbar{
  position: absolute;
  top: 5px;
  right: 5px;
  top: -9px;
  right: 10px;
  z-index: 11;

  & > div {
    display: inline;
  }

}

.btn-transparent{
  background: rgba(255, 255, 255, 0.3);
  padding: 0px 12px;
  color: #eee;
  font-size: 18px;
  &:hover{
    color: #FFF;
    background: rgba(255, 255, 255, 0.5);
  }
}

.change-image-button{

  @extend .btn-transparent;
}

.btn-change-img{
  position: relative;
  .fa-refresh{
    position: absolute;
    right: 10px;
    top: 9px;
  }
}
