
#home{
  .why{
    color: $white-text;
  }

  .demo-text{
    resize: none;
    @include mobile {
      height: 5em;
    }
  }

  .home-header{
    margin-bottom: $jumbotron-padding;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: ($jumbotron-padding * 1.6);
    }
    h1{
      @include mobile {
        font-size: 1.6em;
      }
      font-weight: 200;
      strong{
        font-weight: normal;
      }
      em{
        font-style: normal;
        font-weight: normal;
      }
    }
  }
}

.jumbotron{
  background: rgba(white, 0.6);
}
