
#home{
  .why{
    color: $white-text;
    @include text-shadow(0 1px 2px black);
  }

  .demo-text{
    resize: none;
    @include mobile {
      height: 5em;
    }
  }
  form{
    @include mobile{
      font-size: 10px;
    }
  }

  .home-header{
    margin-bottom: $jumbotron-padding;
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: ($jumbotron-padding * 1.6);
    }
    h1{
      @include mobile {
        font-size: 1.8em;
      }
      font-weight: 200;
      strong{
        font-weight: normal;
      }
      em{
        font-style: normal;
        font-weight: normal;
      }
    }
  }
  .form-container-centered{
    @extend .col-md-8;
    @extend .col-md-offset-2;
    .form-group{
      margin-bottom: 0;
    }
    padding: 0;
  }
  .form-container{
    background: white;
    padding: 10px;
    @include mobile { padding: 5px; }
    border-radius: 10px;
    @include box-shadow(1px 2px 0 1px rgba(black, 0.35) inset);

    .demo-text {
      font-size: 1.3em;
      background: none;
      border: none;
      box-shadow: none;
    }
  }
  .tooltip{
    .tooltip-arrow{
      border-top-color: rgba(black, 0.6);;
    }
    .tooltip-inner{
      background: rgba(black, 0.6);
      color: white;
    }
  }
}
.btn-create-blurb{
  margin-top: 10px;
  font-size: 1.3em;
  float: right;
  padding: 10px 24px;
  @include mobile {
    // @extend .btn-block;
    float: none;
    width: 100%;
    margin-top: 10px;
  }
}

p.note{
  margin: 10px 0 0 5px;
  font-size: 1.2em;
  line-height: 45px; //button height
  @include mobile {
    line-height: 175%;
    margin-top: 10px;
  }
}

.jumbotron{
  background: rgba(white, 0.75);
}

.typed-overlay{
  position: overlay;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .demo-text;
  cursor: text;
  color: #999;
}

#typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
