$color: #25253D;
$white-text: #eee;
$white-text-link: #eef;
$brand-primary: $color;
$tooltip-color: rgba(0,0,0,0.9);
$tooltip-bg: white;

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import 'compass';
@import 'bootstrap';
@import 'font-awesome';

@import 'mixins';
@import 'blurb';
@import 'share';
@import 'prediction';


html, body{
  height: 100%;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background: $color;
  padding-bottom: 70px;
  position: relative;
}

.navbar-brand{
  font-size: 25px;
  i.fa{
    color: $color;
  }
}

body > .main-container{
  @include min-height(100%);
  position: relative;
  margin-top: -2px; //weird scrollbar thingie
  padding-bottom: 70px;
  &.no-height{
    @include min-height(0);
  }
}

.footer{
  position: absolute;
  left:0;
  bottom: 0;
  color: $white-text;
  a { color: $white-text-link;}
  padding: 20px 0px;
  text-align: center;
  width: 100%;
}


#home{
  .why{
    color: $white-text;
  }
  .first-blurb{
    p{
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 14px;
      text-align: center;

      @include md {
        margin-top: 0;
      }
    }
  }
}

.jumbotron{
  background: rgba(white, 0.6);
}
