$color: #25253D;
$white-text: #eee;
$white-text-link: #eef;
$brand-primary: $color;

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import 'compass';
@import 'bootstrap';
@import 'font-awesome';

@import 'mixins';
@import 'blurb';
@import 'share';

body{
  font-family: 'Ubuntu', sans-serif;
  background: $color;
  padding-bottom: 70px;
  position: relative;
}

.navbar-brand{
  font-size: 25px;
  i.fa{
    color: $color;
  }
}

.footer{
  color: $white-text;
  a { color: $white-text-link;}
  margin: 40px;
}

#home{
  .why{
    color: $white-text;
  }
  .first-blurb{
    p{
      margin-top: 16px;
      margin-bottom: 4px;
      font-size: 14px;
      text-align: center;

      @include md {
        margin-top: 0;
      }
    }
  }
}
