#home
  .jumbotron
    %h1
      Welcome to
      %br.visible-sm.visible-xs
      %i.fa.fa-bookmark
      Mark.My
    %p A place to share timestamped blurbs of info
    .row
      = form_for @blurb, class: 'form-inline' do |f|
        -# = f.label :text
        .form-group.col-md-9.col-sm-7
          = f.text_area :text, class: 'form-control', rows: 3, placeholder: 'Write what ever you want...'
        .form-group.col-md-3.col-sm-5.text-right.first-blurb
          = f.submit 'Create your first blurb', class: 'btn btn-md btn-primary btn-block'
  %br
  .row.why
    .col-xs-10.col-xs-offset-1
      .row
        .col-sm-4
          %i.fa.fa-clock-o.fa-5x
          %h2 Time Stamped
          %hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita prorsus, inquam; Videamus igitur sententias eorum, tum ad verba redeamus. Non potes, nisi retexueris illa. Non igitur bene. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Nunc omni virtuti vitium contrario nomine opponitur. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Urgent tamen et nihil remittunt.
        .col-sm-4
          %i.fa.fa-lock.fa-5x
          %h2 Secure
          %hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita prorsus, inquam; Videamus igitur sententias eorum, tum ad verba redeamus. Non potes, nisi retexueris illa. Non igitur bene. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Nunc omni virtuti vitium contrario nomine opponitur. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Urgent tamen et nihil remittunt.
        .col-sm-4
          %i.fa.fa-share.fa-5x
          %h2 Share
          %hr
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita prorsus, inquam; Videamus igitur sententias eorum, tum ad verba redeamus. Non potes, nisi retexueris illa. Non igitur bene. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Nunc omni virtuti vitium contrario nomine opponitur. Duo Reges: constructio interrete. Quae similitudo in genere etiam humano apparet. Urgent tamen et nihil remittunt.
