.footer
  .container.text-center
    = link_to t('.yonbergman'), 'https://twitter.com/yonbergman'
    &amp;
    = link_to t('.giladgo'), 'https://twitter.com/giladgo'
    = t('site.footer.copyright')
